<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1170, initial-scale=1, maximum-scale=1, user-scalable=yes">

    <title>spring-boot-webpack</title>

    {{#if isProduction}}
        <link rel="stylesheet" type="text/css" href="../../dist/style.min.css">
    {{else}}
        <link rel="stylesheet" type="text/css"  href="../../dist/style.css">
    {{/if}}
</head>